<!--
<footer id="pie-pagina" class="text-white">
    <div class="container">
      <div class="row">
        <div class="col">
            <p class="lead text-center">
              Copyright &copy; Gobierno Autónoma Municipal de Betanzos
            </p>
        </div>
      </div>
    </div>
</footer>
-->
<div class="extra-page-footer text-white">
  <div class="lead text-center">
    2022 Copyright &copy; Gobierno Autónoma Municipal de Betanzos
    <span
      class="color-red"
      >❤</span
    >
  </div>
  <div>Version: 0.0</div>
</div>

