<!--
<footer id="pie-pagina" class="text-white">
    <div class="container">
      <div class="row">
        <div class="col">
            <p class="lead text-center">
              Copyright &copy; Gobierno Autónoma Municipal de Betanzos
            </p>
        </div>
      </div>
    </div>
</footer>
<div class="mt-4 extra-page-footer">
  <div>
    2021 Copyright &copy; Gobierno Autónoma Municipal de Betanzos<span
      class="color-red"
      >❤</span
    >.
  </div>
  <div>Version :</div>
</div>
-->
