  <mat-toolbar>
    <mat-toolbar-row class="justify-content-between">
      <button mat-icon-button (click)="toggleSidebar()">
        <mat-icon>menu</mat-icon>
      </button>
      <form #searchForm= "ngForm" (ngSubmit)="goSearch()" class="input-group">
        <input type="text" name="search"[(ngModel)]="searchString" class="form-control bg-light border-0 small" placeholder="Buscar aqui..."
            aria-label="Search" aria-describedby="basic-addon2">
        <div class="input-group-append">
            <button class="btn btn-primary" type="submit" name="submit" value="Buscar">
                <i class="fas fa-search fa-sm"></i>
            </button>
        </div>
    </form>
      <div class="d-flex justify-content-end">
        <ul class=" d-flex nabar-nav nabar-right mt-3" *ngIf="!_authService.loggedIn()">
          <li class="nav-item activate">
            <a class="nav-link " [routerLink]="['/login']"> LOGIN</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/registro']"> REGISTRO </a>
          </li>
        </ul>
        <ul class="row m-0 align-items-center" *ngIf="identity && identity.email">
          <li  class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle fs-6" data-toggle="dropdown">
              <img src="./assets/img/user.png" alt="" class="user-image mr-1 p-2" />
              {{identity.username}} {{identity.surnames}}
            </a>

            <div class="dropdown-menu">
              <a [routerLink]="['/edit-user', identity.email]" class="dropdown-item">
                <i class="fas fa-user-cog text-primary"></i> Mi Perfíl
              </a>
              <div class="dropdown-divider"></div>
              <a routerLink="/configuracion" class="dropdown-item">
                <i class="fas fa-cog text-primary"></i> Configuración
              </a>
              <div class="dropdown-divider"></div>
              <a  class="dropdown-item">
                <button >
                <i class="fas fa-arrow-right text-primary" (click)="[_authService.logout()]">   Cerrar Sesión</i>
              </button>
              </a>
            </div>
          </li>
        </ul>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>


