  <mat-toolbar>
    <mat-toolbar-row class="justify-content-between">
      <button mat-icon-button (click)="toggleSidebar()">
        <mat-icon>menu</mat-icon>
      </button>
      <form #searchForm= "ngForm" (ngSubmit)="goSearch()" class="input-group">
        <input type="text" name="search"[(ngModel)]="searchString" class="form-control bg-light border-0 small" placeholder="Buscar aqui..."
            aria-label="Search" aria-describedby="basic-addon2">
        <div class="input-group-append">
            <button class="btn btn-primary" type="submit" name="submit" value="Buscar">
                <i class="fas fa-search fa-sm"></i>
            </button>
        </div>
    </form>
      <div class="d-flex justify-content-end">
        <ul class=" d-flex nabar-nav nabar-right mt-3" *ngIf="!_authService.loggedIn()">
          <li class="nav-item activate">
            <a class="nav-link " [routerLink]="['/login']"> LOGIN</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/registro']"> REGISTRO </a>
          </li>
        </ul>
        <ul class="row m-0 align-items-center" *ngIf="identity && identity.email">
          <li>
            <button
              mat-button
              [matMenuTriggerFor]="menu"
              class="user mt-2 d-flex align-items-center"
            >
              <img src="./assets/img/user.png" alt="" class="user-image mr-1 p-2" />
                 {{identity.username}} {{identity.surnames}}
              <mat-icon class="user-image-icon ml-1"
                >keyboard_arrow_down</mat-icon
              >
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="_authService.logout()">
                <mat-icon >exit_to_app</mat-icon>
                <a class="nav-link" style="cursor: pointer;" (click)="_authService.logout()">Logout</a>
              </button>
            </mat-menu>
          </li>
        </ul>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>


