.linea{
  width: auto;
  height: auto;
}


.border-left-primary {
  border-left: 0.70rem solid #4e73df!important;
}
.border-left-success {
  border-left: 0.70rem solid #1cc88a!important;
}
.border-left-info {
  border-left: 0.70rem solid #36b9cc!important;
}
.border-left-warning {
  border-left: 0.70rem solid #ce3014!important;
}
.align-items-center {
  align-items: center!important;
}
.h5, h5 {
  font-size: 1.90rem;
}
.text-xs {
  font-size: 1.50rem;
}
.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
pb-2, .py-2 {
  padding-bottom: 0.5rem!important;
}
