
<div class="container mt-5">
  <div class="row">
      <div class="col-lg-8 offset-lg-2">
          <div class="card">
              <div class="card-body text-center">
                  <span class="titulo">LISTADO DE USUARIOS </span>
                  <button class="btn btn-success float-end" routerLink="/usuarioAdd">NUEVO</button>
                  <table *ngIf="users.length > 0" class="table table-striped mt-3">
                      <thead>
                        <tr>
                          <th scope="col">Nombre</th>
                          <th scope="col">Email</th>
                          <th scope="col">Password</th>
                          <th scope="col"></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let user of users">
                          <td>{{ user.username }}</td>
                          <td>{{ user.email }}</td>
                          <td>{{ user.password }}</td>
                          <td>
                              <i [routerLink]="['/usuarioAdd', user._id]" class="fas fa-edit text-primary"></i>
                              <i (click)="eliminarUser(user._id)" class="fas fa-trash text-danger"></i>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <h5 style="text-align: start; margin-top: 10px;" *ngIf="users.length == 0">No hay usuarios para mostrar</h5>
              </div>
          </div>
      </div>
  </div>
</div>
<!--Agregar cliente modal-->
<!--<div class="modal fade" id="agregarClienteModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header bg-info text-white">
        <h5 class="modal-title">Agregar Cliente</h5>
        <button class="close" data-dismiss="modal" #botonCerrar>
          <span>&times;</span>
        </button>
      </div>



      <form #clienteForm="ngForm" (ngSubmit)="agregar()">
        <div class="modal-body">
          <div class="form-group">
            <label for="nombre">Nombre</label>
            <input
              type="text"
              name="nombre"
              class="form-control"
             >
              <div  class="invalid-feedback">
                Nombre requerido
              </div>
              <div  class="invalid-feedback">
                Debe contener al menos 2 caracteres
              </div>
          </div>

          <div class="form-group">
            <label for="apellido">Apellido</label>
            <input
              type="text"
              name="apellido"
              class="form-control"
              >
              <div class="invalid-feedback">
                Apellido requerido
              </div>
              <div class="invalid-feedback">
                Debe contener al menos 2 caracteres
              </div>
          </div>

          <div class="form-group">
            <label for="email">Email</label>
            <input
              type="email"
              name="email"
              class="form-control"
              >
              <div  class="invalid-feedback">
                Email requerido
              </div>
              <div  class="invalid-feedback">
                Email no es válido
              </div>
          </div>

          <div class="form-group">
            <label for="saldo">Saldo</label>
            <input
              type="number"
              name="saldo"
              class="form-control"
             >
              <div  class="invalid-feedback">
                Saldo requerido
              </div>
          </div>
        </div>

        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Guardar</button>
        </div>

      </form>

    </div>
  </div>
</div>
-->
