<div class="row">
  <div class="card bg-dark text-white">
    <img src="./assets/img/Imagen4.jpg" class="card-img" alt="..." />
    <div class="card-img-overlay text-center">
      <h1 class="card-title">ALCALDIA MUNICIPAL DE BETANZOS</h1>
      <p class="card-text">
        <font [size]="3">
          Situado en provincia Cornelio Saavedra del departamento de Potosí a 45
          km aproximadamente de la ciudad de Potosí, es una institución pública
          que está al servicio de su pueblo.
        </font>
      </p>
    </div>
  </div>
</div>
  <div class="row">
    <div class="card-al d-flex">
      <img
        src="./assets/img/63.jpg"
        class="card-alc"
        alt="aqui esta el alcalde"
      />
    </div>
</div>

    <div class="row row-cols-1 row-cols-md-2 g-4 mt-2">
      <div class="col">
        <div class="card">
          <img src="./assets/img/img3.jpg" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
              This is a longer card with supporting text below as a natural
              lead-in to additional content. This content is a little bit
              longer.
            </p>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card">
          <img src="./assets/img/img4.jpeg" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
              This is a longer card with supporting text below as a natural
              lead-in to additional content. This content is a little bit
              longer.
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="./assets/img/img5.JPG" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
              This is a longer card with supporting text below as a natural
              lead-in to additional content.
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="./assets/img/img6.jpg" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
              This is a longer card with supporting text below as a natural
              lead-in to additional content. This content is a little bit
              longer.
            </p>
          </div>
        </div>
      </div>
    </div>


