:host {
  display: flex;
  flex-direction: column;
  height: 100%;

}

mat-drawer {
  width: 260px;

}
mat-drawer-container {
  height: 100%;

}

mat-drawer {
  background: hsla(220, 100%, 3%, 0.884);

}
