  <div class="d-flex justify-content-between">
  <input type="button" value="Imprimir"(click)="ImprimirPDF()" />
  <input type="button" value="Descargar" (click)="downloadPDF()"/>

</div>

<div>
<div class="container">
  <div class="row">
    <div id="htmlData">
      <div class="mt-0 ml-4 mr-2">
        <div  class="d-flex justify-content-between ml-3 mb-0">
          <div >
            <img src="assets/img/logo1.png" class="logo ml-4 mb-0" />
          </div>
          <div class="text-center ml-5 mt-3 mb-0">
            <p class="mb-0 fs-5">GOBIERNO AUTÓNOMO MUNICIPAL DE BETANZOS</p>
            <p class="mb-0">
              Primera Sección Municipal Provincial Cornelio Saavedra
            </p>
            <samp>Betanzos - Potosí - Bolivia</samp>
            <p class="mb-0 fs-4">HOJA DE RUTA</p>
          </div>
          <div class="p-3 mt-4">
            <h5 class="text-center mb-0 fs-5 mb-1 ">NUIT</h5>
            <div  class="badge badge-success text-center fs-5">N°:&nbsp;&nbsp;<strong></strong>{{ruta.nuit | uppercase}}</div>
          </div>
        </div>

        <div class="card pl-2 pr-2 border-3 border-primary mb-1">
          <div class="card-body">
            <div class="d-flex justify-content-between">
              <p class="card-text fw-normal">
                <span >Fecha de recepcion: </span>{{ ruta.fecharesepcion | date:'dd/MM/yyyy'}}
              </p>
              <p class="card-text fw-normal" ><span>Hora: </span>{{ruta.fecharesepcion | date:'HH:MM:ss'}}</p>
              <p class="card-text fw-normal">
                <span>Fecha de documento: </span>{{ruta.fechadocumento | date:'dd/MM/yyyy'}}
              </p>
            </div>
            <hr class="mt-0" />
            <div class="d-flex justify-content-between">
              <p class="card-text fw-normal" >
                <span>Origen: </span>{{ruta.origen}}
              </p>
              <p class="card-text fw-normal"><span>Tipo de documento: </span>{{ruta.tipodoc}}</p>
            </div>
            <hr class="mt-0" />
            <p  class="card-text text-break lh-1 pt-1 mb-1 fw-normal">
              <span >Referencia: </span>{{ruta.referencia}}
            </p>
          </div>
        </div>

        <div class="card border-3 border-primary mr-0">
          <div class="row">
            <div class="col">
              <p class="text-center mb-0">
                <span>DERIVADO A LA UNIDAD DE: </span>
              </p>
              <div class="">
                <div class="row">
                  <div class="col d-flex justify-content-between mt-0 ml-2">
                    <label class="form-check-label"> Concejo Municipal </label>
                   <div>
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                   </div>
                  </div>
                  <div class="col d-flex justify-content-between">
                    <label class="form-check-label"> Activos Fijos </label>
                    <div>
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                     </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col d-flex justify-content-between ml-2">
                    <label class="form-check-label"> Secretaria despacho </label>
                    <div>
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                     </div>
                  </div>
                  <div class="col d-flex justify-content-between">
                    <label class="form-check-label"> Almacenes </label>
                    <div>
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                     </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col d-flex justify-content-between mt-0 ml-2">
                    <label class="form-check-label"> Asesoría Legal </label>
                    <div>
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                     </div>
                  </div>
                  <div class="col d-flex justify-content-between">
                    <label class="form-check-label"> Defensorías</label>
                    <div>
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                     </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col d-flex justify-content-between ml-2">
                    <label class="form-check-label"> Stria Mcpal Adm.Fin.</label>
                    <div>
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                     </div>
                  </div>
                  <div class="col d-flex justify-content-between">
                    <label class="form-check-label">SLIM.</label>
                    <div>
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                     </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col d-flex justify-content-between mt-0 ml-2">
                    <label class="form-check-label">Stia. Mcipal de DDHH</label>
                    <div>
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                     </div>
                  </div>
                  <div class="col d-flex justify-content-between">
                    <label class="form-check-label"> Omot </label>
                    <div>
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                     </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col d-flex justify-content-between ml-2">
                    <label class="form-check-label"> Stria Mcpal infraestructura </label>
                    <div>
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                     </div>
                  </div>
                  <div class="col d-flex justify-content-between">
                    <label class="form-check-label"> Intendencia</label>
                    <div>
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                     </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col d-flex justify-content-between mt-0 ml-2">
                    <label class="form-check-label">Stria Mcpal de DD EE </label>
                    <div>
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                     </div>
                  </div>
                  <div class="col d-flex justify-content-between">
                    <label class="form-check-label"> Recaudaciones </label>
                    <div>
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                     </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col d-flex justify-content-between ml-2">
                    <label class="form-check-label"> Planificación </label>
                    <div>
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                     </div>
                  </div>
                  <div class="col d-flex justify-content-between">
                    <label class="form-check-label"> Comunicación </label>
                    <div>
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                     </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col d-flex justify-content-between mt-0 ml-2">
                    <label class="form-check-label"> Recursos Humanos </label>
                    <div>
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                     </div>
                  </div>
                  <div class="col d-flex justify-content-between">
                    <label class="form-check-label"> Turismo y Cultura </label>
                    <div>
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                     </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col d-flex justify-content-between ml-2">
                    <label class="form-check-label"> Contabilidad </label>
                    <div>
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                     </div>
                  </div>
                  <div class="col d-flex justify-content-between">
                    <label class="form-check-label"> ___________________ </label>
                    <div>
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                     </div>
                  </div>
                </div>

              </div>
            </div>
            <div class="col">
              <p class="mb-0">
                <span>INSTRUCCION: </span>
              </p>
              <div class="">


                <div class="row mt-3">
                  <div class="col d-flex justify-content-between">
                    <label class="form-check-label"> Informar a la MAE </label>
                    <div>
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                     </div>
                  </div>
                  <div class="col d-flex justify-content-between">

                  </div>
                </div>
                <div class="row">
                  <div class="col d-flex justify-content-between mt-0">
                    <label class="form-check-label"> Dar el curso al trámite </label>
                    <div>
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                     </div>
                  </div>
                  <div class="col d-flex text-center mt-0 ">
                    <label class="form-check-label"> Firma y sello MAE </label>
                  </div>
                </div>
                <div class="row">
                  <div class="col d-flex justify-content-between">
                    <label class="form-check-label"> Supervisé</label>
                    <div>
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                     </div>
                  </div>
                  <div class="col d-flex justify-content-between">

                  </div>
                </div>
                <div class="row">
                  <div class="col d-flex justify-content-between mt-0">
                    <label class="form-check-label">Prepare el informe</label>
                    <div>
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                     </div>
                  </div>
                  <div class="col d-flex justify-content-between">
                    <label class="form-check-label"> .......................................................</label>
                  </div>
                </div>
                <div class="row">
                  <div class="col d-flex justify-content-between">
                    <label class="form-check-label"> Prepare el documento </label>
                    <div>
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                     </div>
                  </div>
                  <div class="col d-flex justify-content-between">
                    <label class="form-check-label"> .......................................................</label>
                  </div>
                </div>
                <div class="row">
                  <div class="col d-flex justify-content-between mt-0">
                    <label class="form-check-label">Revíse</label>
                    <div>
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                     </div>
                  </div>
                  <div class="col d-flex justify-content-between">
                    <label class="form-check-label"> ....................................................... </label>
                  </div>
                </div>
                <div class="row">
                  <div class="col d-flex justify-content-between">
                    <label class="form-check-label"> Resuelva </label>
                    <div>
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                     </div>
                  </div>
                  <div class="col d-flex justify-content-between">
                    <label class="form-check-label"> ....................................................... </label>
                  </div>
                </div>
                <div class="row">
                  <div class="col d-flex justify-content-between mt-0">
                    <label class="form-check-label"> Para su conocimiento</label>
                    <div>
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                     </div>
                  </div>
                  <div class="col d-flex justify-content-between">
                  </div>
                </div>
                <div class="row">
                  <div class="col d-flex justify-content-between">
                    <label class="form-check-label">______________________ </label>
                    <div>
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                     </div>
                  </div>
                  <div class="col d-flex justify-content-between">

                    <label class="form-check-label"> Fecha:........./.........../...........</label>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>

        <div class="mt-2  ">
          <div class="row ">
            <div class="col mr-0 pr-0 pl-3">
              <div class="card border-3 border-primary p-2 pb-0">
                <label class="form-check-label mt-1 "> Fecha de recepción:.............../................./........................
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   Hora:.............:............ </label>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <label class="form-check-label"> Fecha:....../......../..........Hora:......:......Derivado A:................................................................. </label>
                <label class="form-check-label"> Instrucción:............................................................................................................................. </label>
                <label class="form-check-label">................................................................................................................................................. </label>
              </div>
            </div>
            <div class="col pl-1">
              <div class="card border-3 border-primary p-2 pb-0">
                <label class="form-check-label mt-1 "> Fecha de recepción:.............../................./........................
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   Hora:.............:............ </label>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <label class="form-check-label"> Fecha:....../......../..........Hora:......:......Derivado A:................................................................. </label>
                <label class="form-check-label"> Instrucción:............................................................................................................................. </label>
                <label class="form-check-label">................................................................................................................................................. </label>
              </div>
            </div>
          </div>
        </div>
        <div class="mt-2">
          <div class="row ">
            <div class="col mr-0 pr-0 pl-3">
              <div class="card border-3 border-primary p-2 pb-0">
                <label class="form-check-label mt-1 "> Fecha de recepción:.............../................./........................
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   Hora:.............:............ </label>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <label class="form-check-label"> Fecha:....../......../..........Hora:......:......Derivado A:................................................................. </label>
                <label class="form-check-label"> Instrucción:............................................................................................................................. </label>
                <label class="form-check-label">................................................................................................................................................. </label>
              </div>
            </div>
            <div class="col pl-1">
              <div class="card border-3 border-primary p-2 pb-0">
                <label class="form-check-label mt-1 "> Fecha de recepción:.............../................./........................
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   Hora:.............:............ </label>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <label class="form-check-label"> Fecha:....../......../..........Hora:......:......Derivado A:................................................................. </label>
                <label class="form-check-label"> Instrucción:............................................................................................................................. </label>
                <label class="form-check-label">................................................................................................................................................. </label>
              </div>
            </div>
          </div>
        </div>
        <div class="mt-2">
          <div class="row ">
            <div class="col mr-0 pr-0 pl-3">
              <div class="card border-3 border-primary p-2 pb-0">
                <label class="form-check-label mt-1 "> Fecha de recepción:.............../................./........................
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   Hora:.............:............ </label>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <label class="form-check-label"> Fecha:....../......../..........Hora:......:......Derivado A:................................................................. </label>
                <label class="form-check-label"> Instrucción:............................................................................................................................. </label>
                <label class="form-check-label">................................................................................................................................................. </label>
              </div>
            </div>
            <div class="col pl-1">
              <div class="card border-3 border-primary p-2 pb-0">
                <label class="form-check-label mt-1 "> Fecha de recepción:.............../................./........................
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   Hora:.............:............ </label>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <label class="form-check-label"> Fecha:....../......../..........Hora:......:......Derivado A:................................................................. </label>
                <label class="form-check-label"> Instrucción:............................................................................................................................. </label>
                <label class="form-check-label">................................................................................................................................................. </label>
              </div>
            </div>
          </div>
        </div>
        <div class="mt-2">
          <div class="row ">
            <div class="col mr-0 pr-0 pl-3">
              <div class="card border-3 border-primary p-2 pb-0">
                <label class="form-check-label mt-1 "> Fecha de recepción:.............../................./........................
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   Hora:.............:............ </label>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <label class="form-check-label"> Fecha:....../......../..........Hora:......:......Derivado A:................................................................. </label>
                <label class="form-check-label"> Instrucción:............................................................................................................................. </label>
                <label class="form-check-label">................................................................................................................................................. </label>
              </div>
            </div>
            <div class="col pl-1">
              <div class="card border-3 border-primary p-2 pb-0">
                <label class="form-check-label mt-1 "> Fecha de recepción:.............../................./........................
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   Hora:.............:............ </label>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <label class="form-check-label"> Fecha:....../......../..........Hora:......:......Derivado A:................................................................. </label>
                <label class="form-check-label"> Instrucción:............................................................................................................................. </label>
                <label class="form-check-label">................................................................................................................................................. </label>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>


