  <div class="d-flex justify-content-between">
  <input type="button" value="Imprimir"(click)="ImprimirPDF()" />
  <input type="button" value="Descargar" (click)="downloadPDF()"/>

</div>

<div>
<div class="container">
  <div class="row">
    <div id="htmlData">
      <div class="mt-0 ml-4 mr-2">
        <div  class="d-flex justify-content-between ml-3">
          <div>
            <img src="assets/img/logo1.png" class="logo ml-4" />
          </div>
          <div class="text-center ml-5 mt-3">
            <h5 class="mb-0">GOBIERNO AUTÓNOMO MUNICIPAL DE BETANZOS</h5>
            <h6 class="mb-0">
              Primera Sección Municipal Provincial Cornelio Saavedra
            </h6>
            <samp>Betanzos - Potosí - Bolivia</samp>
            <h5 class="text-muted">HOJA DE RUTA</h5>
          </div>
          <div class="p-3 mt-4">
            <h5 class="text-center mb-0">NUIT</h5>
            <div  class="alert-success sizeAlert text-center">N°:<strong></strong>{{nuit | uppercase}}</div>
          </div>
        </div>
        <hr class="mt-0" />

        <div class="card">
          <div class="card-body">
            <div class="d-flex justify-content-between">
              <p class="card-text">
                <span>Fecha de recepcion: </span>{{ fecharesepcion | date:'dd/MM/yyyy'}}
              </p>
              <p class="card-text" ><span>Hora: </span>{{fecharesepcion | date:'HH:MM:ss'}}</p>
              <p class="card-text">
                <span>Fecha de documento: </span>{{fecharesepcion | date:'HH:MM:ss'}}
              </p>
            </div>
            <hr class="mt-0" />
            <div class="d-flex justify-content-between">
              <p class="card-text">
                <span>Origen: </span>{{origen}}
              </p>
              <p class="card-text"><span>Tipo de documento: </span>{{tipodoc}}</p>
            </div>
            <hr class="mt-0" />
            <p  class="card-text text-break">
              <span>Referencia: </span>{{referencia}}
            </p>
            <hr class="mt-0" />
          </div>
        </div>
        <div class="card mr-0">
          <div class="row">
            <div class="col">
              <p class="text-center mb-0">
                <span>DERIVADO A LA UNIDAD DE: </span>
              </p>
              <div class="">
                <div class="row">
                  <div class="col d-flex justify-content-between mt-0 ml-2">
                    <label class="form-check-label"> Concejo Municipal </label>
                   <div>
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                   </div>
                  </div>
                  <div class="col d-flex justify-content-between">
                    <label class="form-check-label"> Activos Fijos </label>
                    <div>
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                     </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col d-flex justify-content-between ml-2">
                    <label class="form-check-label"> Secretaria despacho </label>
                    <div>
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                     </div>
                  </div>
                  <div class="col d-flex justify-content-between">
                    <label class="form-check-label"> Almacenes </label>
                    <div>
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                     </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col d-flex justify-content-between mt-0 ml-2">
                    <label class="form-check-label"> Asesoría Legal </label>
                    <div>
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                     </div>
                  </div>
                  <div class="col d-flex justify-content-between">
                    <label class="form-check-label"> Defensorías</label>
                    <div>
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                     </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col d-flex justify-content-between ml-2">
                    <label class="form-check-label"> Stria Mcpal Adm.Fin.</label>
                    <div>
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                     </div>
                  </div>
                  <div class="col d-flex justify-content-between">
                    <label class="form-check-label">SLIM.</label>
                    <div>
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                     </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col d-flex justify-content-between mt-0 ml-2">
                    <label class="form-check-label">Stia. Mcipal de DDHH</label>
                    <div>
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                     </div>
                  </div>
                  <div class="col d-flex justify-content-between">
                    <label class="form-check-label"> Omot </label>
                    <div>
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                     </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col d-flex justify-content-between ml-2">
                    <label class="form-check-label"> Stria Mcpal infraestructura </label>
                    <div>
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                     </div>
                  </div>
                  <div class="col d-flex justify-content-between">
                    <label class="form-check-label"> Intendencia</label>
                    <div>
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                     </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col d-flex justify-content-between mt-0 ml-2">
                    <label class="form-check-label">Stria Mcpal de DD EE </label>
                    <div>
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                     </div>
                  </div>
                  <div class="col d-flex justify-content-between">
                    <label class="form-check-label"> Recaudaciones </label>
                    <div>
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                     </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col d-flex justify-content-between ml-2">
                    <label class="form-check-label"> Planificación </label>
                    <div>
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                     </div>
                  </div>
                  <div class="col d-flex justify-content-between">
                    <label class="form-check-label"> Comunicación </label>
                    <div>
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                     </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col d-flex justify-content-between mt-0 ml-2">
                    <label class="form-check-label"> Recursos Humanos </label>
                    <div>
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                     </div>
                  </div>
                  <div class="col d-flex justify-content-between">
                    <label class="form-check-label"> Turismo y Cultura </label>
                    <div>
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                     </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col d-flex justify-content-between ml-2">
                    <label class="form-check-label"> Contabilidad </label>
                    <div>
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                     </div>
                  </div>
                  <div class="col d-flex justify-content-between">
                    <label class="form-check-label"> ___________________ </label>
                    <div>
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                     </div>
                  </div>
                </div>

              </div>
            </div>
            <div class="col">
              <p class="mb-0">
                <span>INSTRUCCION: </span>
              </p>
              <div class="">


                <div class="row mt-3">
                  <div class="col d-flex justify-content-between">
                    <label class="form-check-label"> Informar a la MAE </label>
                    <div>
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                     </div>
                  </div>
                  <div class="col d-flex justify-content-between">

                  </div>
                </div>
                <div class="row">
                  <div class="col d-flex justify-content-between mt-0">
                    <label class="form-check-label"> Dar el curso al trámite </label>
                    <div>
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                     </div>
                  </div>
                  <div class="col d-flex text-center mt-0 ">
                    <label class="form-check-label"> Firma y sello MAE </label>
                  </div>
                </div>
                <div class="row">
                  <div class="col d-flex justify-content-between">
                    <label class="form-check-label"> Supervisé</label>
                    <div>
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                     </div>
                  </div>
                  <div class="col d-flex justify-content-between">

                  </div>
                </div>
                <div class="row">
                  <div class="col d-flex justify-content-between mt-0">
                    <label class="form-check-label">Prepare el informe</label>
                    <div>
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                     </div>
                  </div>
                  <div class="col d-flex justify-content-between">
                    <label class="form-check-label"> .......................................................</label>
                  </div>
                </div>
                <div class="row">
                  <div class="col d-flex justify-content-between">
                    <label class="form-check-label"> Prepare el documento </label>
                    <div>
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                     </div>
                  </div>
                  <div class="col d-flex justify-content-between">
                    <label class="form-check-label"> .......................................................</label>
                  </div>
                </div>
                <div class="row">
                  <div class="col d-flex justify-content-between mt-0">
                    <label class="form-check-label">Revíse</label>
                    <div>
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                     </div>
                  </div>
                  <div class="col d-flex justify-content-between">
                    <label class="form-check-label"> ....................................................... </label>
                  </div>
                </div>
                <div class="row">
                  <div class="col d-flex justify-content-between">
                    <label class="form-check-label"> Resuelva </label>
                    <div>
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                     </div>
                  </div>
                  <div class="col d-flex justify-content-between">
                    <label class="form-check-label"> ....................................................... </label>
                  </div>
                </div>
                <div class="row">
                  <div class="col d-flex justify-content-between mt-0">
                    <label class="form-check-label"> Para su conocimiento</label>
                    <div>
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                     </div>
                  </div>
                  <div class="col d-flex justify-content-between">
                  </div>
                </div>
                <div class="row">
                  <div class="col d-flex justify-content-between">
                    <label class="form-check-label">______________________ </label>
                    <div>
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                     </div>
                  </div>
                  <div class="col d-flex justify-content-between">

                    <label class="form-check-label"> Fecha:........./.........../...........</label>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>

        <div class="mt-2">
          <div class="row">
            <div class="col">
              <div class="card p-2">
                <label class="form-check-label"> Fecha de recepción:.............../................./................Hora:.............:............ </label>
                <br>
                <br>
                <label class="form-check-label"> Fecha:....../......../..........Hora:......:......Derivado A:........................................ </label>
                <label class="form-check-label"> Instrucción:......................................................................................................... </label>
                <label class="form-check-label">................................................................................................................................. </label>
              </div>
            </div>
            <div class="col">
              <div class="card p-2">
                <label class="form-check-label"> Fecha de recepción:.............../................./................Hora:.............:............ </label>
                <br>
                <br>
                <label class="form-check-label"> Fecha:....../......../..........Hora:......:......Derivado A:........................................ </label>
                <label class="form-check-label"> Instrucción:......................................................................................................... </label>
                <label class="form-check-label">................................................................................................................................. </label>
              </div>
            </div>
          </div>
        </div>
        <div class="mt-2">
          <div class="row">
            <div class="col">
              <div class="card p-2">
                <label class="form-check-label"> Fecha de recepción:.............../................./................Hora:.............:............ </label>
                <br>
                <br>
                <label class="form-check-label"> Fecha:....../......../..........Hora:......:......Derivado A:........................................ </label>
                <label class="form-check-label"> Instrucción:......................................................................................................... </label>
                <label class="form-check-label">................................................................................................................................. </label>
              </div>
            </div>
            <div class="col">
              <div class="card p-2">
                <label class="form-check-label"> Fecha de recepción:.............../................./................Hora:.............:............ </label>
                <br>
                <br>
                <label class="form-check-label"> Fecha:....../......../..........Hora:......:......Derivado A:........................................ </label>
                <label class="form-check-label"> Instrucción:......................................................................................................... </label>
                <label class="form-check-label">................................................................................................................................. </label>
              </div>
            </div>
          </div>
        </div>
        <div class="mt-2">
          <div class="row">
            <div class="col">
              <div class="card p-2">
                <label class="form-check-label"> Fecha de recepción:.............../................./................Hora:.............:............ </label>
                <br>
                <br>
                <label class="form-check-label"> Fecha:....../......../..........Hora:......:......Derivado A:........................................ </label>
                <label class="form-check-label"> Instrucción:......................................................................................................... </label>
                <label class="form-check-label">................................................................................................................................. </label>
              </div>
            </div>
            <div class="col">
              <div class="card p-2">
                <label class="form-check-label"> Fecha de recepción:.............../................./................Hora:.............:............ </label>
                <br>
                <br>
                <label class="form-check-label"> Fecha:....../......../..........Hora:......:......Derivado A:........................................ </label>
                <label class="form-check-label"> Instrucción:......................................................................................................... </label>
                <label class="form-check-label">................................................................................................................................. </label>
              </div>
            </div>
          </div>
        </div>
        <div class="mt-2">
          <div class="row">
            <div class="col">
              <div class="card p-2">
                <label class="form-check-label"> Fecha de recepción:.............../................./................Hora:.............:............ </label>
                <br>
                <br>
                <label class="form-check-label"> Fecha:....../......../..........Hora:......:......Derivado A:........................................ </label>
                <label class="form-check-label"> Instrucción:......................................................................................................... </label>
                <label class="form-check-label">................................................................................................................................. </label>
              </div>
            </div>
            <div class="col">
              <div class="card p-2">
                <label class="form-check-label"> Fecha de recepción:.............../................./................Hora:.............:............ </label>
                <br>
                <br>
                <label class="form-check-label"> Fecha:....../......../..........Hora:......:......Derivado A:........................................ </label>
                <label class="form-check-label"> Instrucción:......................................................................................................... </label>
                <label class="form-check-label">................................................................................................................................. </label>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>


