<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">N°</th>
      <th scope="col">Nombre</th>
      <th scope="col">Cargo</th>
      <th scope="col">Todos</th>
      <th scope="col">Derivados</th>
      <th scope="col">Recibidos</th>
      <th scope="col">Sin Recibir</th>
      <th scope="col">Maletin</th>
      <th scope="col">Archivo Central</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users let i = index">
      <td  class="fw-normal   p-0">{{i+1}}</td>
      <td class="fw-normal   p-0">{{ user.username}} {{ user.surnames }}</td>
      <td class="fw-normal  p-0">{{ user.post }}</td>


    </tr>
  </tbody>
</table>
