<mat-nav-list>
  <div class="logo py-1">
    <img src="./assets/img/logogambb.png" alt="Company Logo" />
  </div>
  <mat-divider></mat-divider>
  <h2 matSubheader class="mt-2">APLICACIONES</h2>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/contenido">
    <mat-icon>home</mat-icon> Home
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/panels">
    <mat-icon>dashboard</mat-icon> Dashboard
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/usuario">
    <mat-icon>supervisor_account</mat-icon> Usuarios
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/correspondencia">
    <mat-icon>library_books</mat-icon> Mi Oficina
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/hoja-ruta">
    <mat-icon>description</mat-icon> Hoja de Ruta
  </a>
  <a
    mat-list-item
    routerLinkActive="list-item-active"
    routerLink="/organizacion"
  >
    <mat-icon>line_style</mat-icon> Organozacion
  </a>
  <a mat-list-item> <mat-icon>insert_chart</mat-icon> Graficos</a>
  <a mat-list-item> <mat-icon>storage</mat-icon> Páginas </a>
  <a mat-list-item> <mat-icon>view_list</mat-icon> Reportes </a>
  <a mat-list-item> <mat-icon>edit</mat-icon> Link 6 </a>
</mat-nav-list>
