<mat-nav-list>
  <div class="logo py-1">
    <img src="./assets/img/logogambb.png" alt="Company Logo" />
  </div>
  <mat-divider></mat-divider>
  <h2 matSubheader class="mt-2">APPLICATIONS</h2>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/contenido">
    <mat-icon>home</mat-icon> Home
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/panels">
    <mat-icon>dashboard</mat-icon> Dashboard
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/usuario">
    <mat-icon>Usuarios</mat-icon> Usuarios
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/login">
    <mat-icon>Hojaruta</mat-icon> Hoja de Ruta
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/organizacion">
    <mat-icon>Oorganizacion</mat-icon> Organozacion
  </a>
  <a mat-list-item> <mat-icon>edit</mat-icon> Link 3 </a>
  <a mat-list-item> <mat-icon>edit</mat-icon> Link 4 </a>
  <a mat-list-item> <mat-icon>edit</mat-icon> Link 5 </a>
  <a mat-list-item> <mat-icon>edit</mat-icon> Link 6 </a>
</mat-nav-list>
